@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pretendard";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nanum Gothic";
  src: url(//themes.googleusercontent.com/static/fonts/earlyaccess/nanumgothic/v3/NanumGothic-Regular.woff)
    format("woff");
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  color: #ebe7ef;
  font-family: "Pretendard", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: radial-gradient(#280a48, #20043d);
  list-style: none;
}

* {
  box-sizing: border-box;
}

.icon-box {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box-large {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  border-radius: 50% 50%;

  width: 24px;
  height: 24px;
  color: #a18aba;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.icon-button-large {
  border-radius: 50% 50%;

  width: 40px;
  height: 40px;
  color: #a18aba;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.icon-button-large:hover {
  background-color: #1b082f;
  color: #ebe7ef;
}

.icon-button:hover {
  background-color: #1b082f;
  color: #ebe7ef;
}

.icon {
  width: 100%;
  height: 100%;

  background-position: 50% 50%;
  background-size: 100% 100%;
}

.logo-icon {
  background-image: url(../assets/images/icon.png);
}

.bar {
  padding-top: 5px;
  border-bottom: 1px solid rgba(161, 138, 186, 0.2);
}
