#home-wrapper {
  width: 100%;
  padding: 80px 0 40px;
  /* padding: 20px 0; */
  display: flex;
  justify-content: center;
  z-index: 1000;
  height: calc(100vh - 153px + 85px);
}

.home-container {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home-right {
  width: 600px;
}

.home-job {
  font-family: "Nanum Gothic";
  font-size: 20px;
  font-weight: 300;
}

.home-name {
  font-size: 135px;
  font-family: "Nanum Gothic";
  font-style: italic;
  font-weight: bold;
  line-height: 100%;
}

.home-description {
  font-family: "Nanum Gothic";
  font-size: 20px;
  font-weight: lighter;
}

.home-button-wrapper {
  display: flex;
  justify-content: center;
}

.home-button {
  margin-top: 20px;
  background-color: #280a48;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.home-button:hover {
  background-color: #7925d3;
  font-weight: 600;
}

@media (max-width: 1440px) {
  .home-container {
    padding: 0 15px;
  }
}

@media (max-width: 1100px) {
  .home-right {
    width: 500px;
  }
}

@media (max-width: 1200px) {
  .home-job {
    font-size: 18px;
  }
  .home-name {
    font-size: 120px;
  }
  .home-description {
    font-size: 18px;
  }
}

@media (max-width: 940px) {
  .home-container {
    flex-direction: column;
    align-items: center;
  }
  .home-right {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  #home-wrapper {
    margin-top: 30px;
  }
  .home-right {
    width: 400px;
  }
}

@media (max-width: 500px) {
  #home-wrapper {
    height: calc(100vh - 208px + 85px);
  }
}

@media (max-width: 480px) {
  .home-right {
    width: 350px;
  }
  .home-job {
    font-size: 16px;
  }
  .home-name {
    font-size: 100px;
  }
  .home-description {
    font-size: 16px;
  }
}

@media (max-width: 400px) {
  .home-right {
    width: 300px;
  }
  .home-job {
    font-size: 14px;
  }
  .home-name {
    font-size: 80px;
  }
  .home-description {
    font-size: 14px;
  }
}

/* 스크롤바 전체 */
::-webkit-scrollbar {
  height: 12px;
  width: 14px;
  background: rgb(32, 4, 61, 1);
  z-index: 12;
  overflow: visible;
}

::-webkit-scrollbar-corner {
  background: #202020;
}

/* 스크롤바 핸들 */
::-webkit-scrollbar-thumb {
  width: 10px;
  background-color: rgb(161, 138, 186, 1);
  border-radius: 10px;
  z-index: 12;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  transition: background-color 0.32s ease-in-out;
  margin: 4px;
  min-height: 32px;
  min-width: 32px;
}
