#header {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background: #20043d;
  filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.1));
}

.header-container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left-box {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.icon-logo-box {
  width: 40px;
  height: 45px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo {
  color: #ebe7ef;

  font-family: "Pretendard";
  font-size: 20px;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.4px;
}

.header-right-box {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-right-box li button {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.4px;
  border: none;
  background-color: transparent;
  border-radius: 6px;
  color: #a18aba;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header-right-box li button:hover {
  font-weight: 600;
  background-color: #1b082f;
  color: #ebe7ef;
}

.header-right-box li button.active {
  font-weight: 600;
  background-color: #1b082f;
  color: #ebe7ef;
}
