.icon-box {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-box-large {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-button {
  border-radius: 50% 50%;

  width: 24px;
  height: 24px;
  color: #a18aba;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.icon-button-large {
  border-radius: 50% 50%;

  width: 40px;
  height: 40px;
  color: #a18aba;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.icon-button-large:hover {
  background-color: #1b082f;
  color: #ebe7ef;
}

.icon-button:hover {
  background-color: #1b082f;
  color: #ebe7ef;
}

.icon {
  width: 100%;
  height: 100%;

  background-position: 50% 50%;
  background-size: 100% 100%;
}

.logo-icon {
  background-image: url(assets/images/icon.png);
}
